<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="contacto.component.css">
  <title>Amazon</title>
  <link rel="shortcut icon" href="../../assets/minilogo.jpg">
</head>
<body>

<app-buscador></app-buscador>
<app-menu></app-menu>

<div class="texto">
  <article>
    <div class="primero">
      <h1>Contactanos</h1>
      <p>Si eres cliente de Amazon.es y necesitas ayuda, visita nuestro apartado de Ayuda. Si necesitas devolver un producto visita nuestro Centro de devoluciones online.</p>
      <p>Telefono:  911 23 04 13</p>
      <p>Correo:    clientes@amazon.es</p>
    </div>
    <div class="segundo">
      <div class="lin1">
        <div class="pedido">
          <div class="img1">

          </div>
          <div class="txt1">
            <p>Mi entrega, pedido o devolución</p>
          </div>
        </div>
        <div class="pagos">
          <div class="img2">

          </div>
          <div class="txt2">
            <p>Pagos, cargos y facturas</p>
          </div>
        </div>
        <div class="datos">
          <div class="img3">

          </div>
          <div class="txt3">
            <p>Ajustes de cuenta</p>
          </div>
        </div>
      </div>
      <div class="lin2">
        <div class="prime">
          <div class="img4">

          </div>
          <div class="txt4">
            <p>Prime</p>
          </div>
        </div>
        <div class="denuncia">
          <div class="img5">

          </div>
          <div class="txt5">
            <p>Denuncias</p>
          </div>
        </div>
        <div class="consulta" routerLink="/formulariconsultes">
          <div class="img6">

          </div>
          <div class="txt6">
            <p>Consultas</p>
          </div>
        </div>
      </div>
      <div class="lin3">
        <div class="video">
          <div class="img7">

          </div>
          <div class="txt7">
            <p>Prime video 4K</p>
          </div>
        </div>
        <div class="alexa">
          <div class="img8">

          </div>
          <div class="txt8">
            <p>Alexa, Amazon Musica y mas</p>
          </div>
        </div>
        <div class="otros">
          <div class="img9">

          </div>
          <div class="txt9">
            <p>Otros</p>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>

<app-peupagina></app-peupagina>

</body>
</html>
