<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="carrito.component.css">
  <title>Amazon</title>
  <link rel="shortcut icon" href="http://172.16.9.1:4080/images/css/minilogo">
</head>
<body>
<app-buscador></app-buscador>
<app-menu></app-menu>
<div class="texto">
  <article>
    <div id="arriba">
      <h1 style="font-size: 35px">Mi Cesta</h1>
    </div>
    <div id="bonito">
      <div id="izquierda">
        <code id="subject"></code>
      </div>
      <div id="derecha">
        <div id="recuadro">
          <h3>Subtotal: </h3>
          <p>Precio: {{preu}}</p>
          <button type="button" id="boton" (click)="borrar()">COMPRAR</button>
        </div>
      </div>
    </div>
  </article>
</div>
</body>
</html>
