<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="ordenadores.component.css">
  <title>Amazon</title>
  <link rel="shortcut icon" href="../../assets/minilogo.jpg">
</head>
<body>

<app-buscador></app-buscador>

<nav>
  <ul class="menu-horizontal">
    <li>
      <a href="#">Productos</a>
      <ul class="menu-vertical">
        <li><a routerLink="/moviles">Mobiles</a></li>
        <li><a routerLink="/ordenadores">Ordenadores</a></li>
        <li><a routerLink="/perifericos">Perifericos</a></li>
      </ul>
    </li>
    <li><a href="#">Belleza</a></li>
    <li><a href="#">Deportes</a></li>
    <li><a href="#">Decoración</a></li>

  </ul>
</nav>
<div class="texto">
  <aside>
    <h3>Envio</h3>
    <label><input (click)="prova()" id="a1" type="checkbox" name="envio" value="envio_gratis"> Envio gratis</label><br>
    <label><input (click)="prova()" id="a2" type="checkbox" name="envio" value="envio_1dia"> Recíbelo mañana</label><br>
    <h3>Marca</h3>
    <label><input (click)="prova()" id="a3" type="checkbox" name="marca" value="apple"> Apple</label><br>
    <label><input (click)="prova()" id="a4" type="checkbox" name="marca" value="hp"> HP</label><br>
    <label><input (click)="prova()" id="a5" type="checkbox" name="marca" value="msi"> MSI</label><br>
    <label><input (click)="prova()" id="a6" type="checkbox" name="marca" value="asus"> Asus</label><br>
  </aside>
  <article>
    <div id="resultat">
      <h2>RESULTADOS</h2>
    </div>
    <div>
      <div id="producto7" *ngIf="productes[0].activat1">
        <div class="imgproducto">
          <img src="../../assets/MSI%20Modern.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[0].titol}}</h2><br>
          <p> {{productes[0].envio}}</p>
          <h3 id="precio7">{{productes[0].preu}}</h3>
          <button class="ca" id="p7" (click)="toggle($event)"></button>
        </div>
      </div>
      <div id="producto8" *ngIf="productes[1].activat1">
        <div class="imgproducto">
          <img src="../../assets/HP%20Omen.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[1].titol}}</h2><br>
          <p> {{productes[1].envio}}</p>
          <h3 id="precio8">{{productes[1].preu}}</h3>
          <button class="ca" id="p8" (click)="toggle($event)"></button>
        </div>
      </div>
      <div id="producto9" *ngIf="productes[2].activat1">
        <div class="imgproducto">
          <img src="../../assets/Asus%20TUF.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[2].titol}}</h2><br>
          <p> {{productes[2].envio}}</p>
          <h3 id="precio9">{{productes[2].preu}}</h3>
          <button class="ca" id="p9" (click)="toggle($event)"></button>
        </div>
      </div>
      <div id="producto10" *ngIf="productes[3].activat1">
        <div class="imgproducto">
          <img src="../../assets/Asus%20F515.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[3].titol}}</h2><br>
          <p> {{productes[3].envio}}</p>
          <h3 id="precio10">{{productes[3].preu}}</h3>
          <button class="ca" id="p10" (click)="toggle($event)"></button>
        </div>
      </div>
      <div id="producto11" *ngIf="productes[4].activat1">
        <div class="imgproducto">
          <img src="../../assets/Apple%20MacBook.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[4].titol}}</h2><br>
          <p> {{productes[4].envio}}</p>
          <h3 id="precio">{{productes[4].preu}}</h3>
          <button class="ca" id="p11" (click)="toggle($event)"></button>
        </div>
      </div>
    </div>
  </article>
</div>

<app-peupagina></app-peupagina>

</body>
</html>
