*{
    font-family: Arial, serif;
}

body{
    display: flex;
    flex-flow: column;
    background-color: whitesmoke;
    margin: 0;
}

header{
    background-color: #6aaae8;
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 0;
}

nav{
    width: 100%;
    height: 90px;
    padding: 0;
    margin-top: 0px;
    border: black 1px solid;
}

article{
    margin: -1em;
    width: 100%;
    padding: 2em;
    height: auto;
}



footer{
    background-color: #616161;
    width: 100%;
    height: 300px;
    display:flex;
    flex-flow: column;
}

.texto{
    display: flex;
    flex-flow: row;
    width: 99%;
    padding: 0;
    margin: 5px;
    height: auto;
}

.logo{
    width: 220px;
}


.derecha{
    flex-grow: 3;
    width: 30%;
    align-items: center;
    margin: 20px;
}


.izquierda{
    margin-left: 20px;
    flex-grow: 1;
    width: 50%;
    display: flex;
}

.login{
    flex-grow: 1;
    display: flex;
    width: 8%;
    text-align: center;
}

.redondo{
    background-image: url("imagenes/login.png");
    background-position: center;
    background-position-y: 4px;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 50%;
    margin-left: 50%;
}

.redondo:hover{
    background-color: #9b9b9b;
    transition: 1s;
    cursor: pointer;
}

.login a{
    cursor: none;
}




.izquierda img{
    width: 15%;
    margin: 25px;
}

.log{
    flex-grow: 1;
    padding-top: 20px;
}


.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #3e77ff;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #000000;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 3px solid #3e77ff;
    background-image: url("imagenes/lupa.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.wrap{
    width: 40%;
    position: absolute;
    margin-top: 50px;
    margin-left: 250px;
    transform: translate(-50%, -50%);
}

.lupa{
    width: 100px;
}

.producto {
    padding: 3%;
    float: left;
    background-color: #d6d6d6;
    margin-left: 1.5em;
    margin-top: 1em;
    width: 60%;
    height: 10em;
    border: gray 1px solid;
}

.imgproducto {
    max-width: 10%;
    min-width: 10%;
    max-height: 10%;
    min-height: 10%;
    text-align: center;
}

.imgproducto img {
    width: auto;
    max-width: 100%;
    margin: auto;
    height: auto;
    max-height: 100%;
}

.texto_producto{
    width: 60%;
    margin-left: 13%;
    margin-top: -2.5em;
}

.precio {
    margin-left: 0.5em;
    color: darkred;
}

.envio {
    color: green;
}

.carro {
    max-width: 5%;
    min-width: 5%;
    max-height: 5%;
    min-height: 5%;
    margin-top: -13%;
    float: right;
    margin-right: 2%;
}

.carrito{
    background-image: url("imagenes/basura.jpg  ");
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;

    width: 40px;
    height: 40px;
    border-radius: 10px;

}

.preu_total {
    min-width: 30%;
    max-width: 30%;
    min-height: 30%;
    max-height: 30%;
    float: right;
    border: black 1px solid;
    margin-top: -16.3em;
    padding-left: 2em;
}

#total {
    color: #848484;
}

.uno{
    display:flex;
    flex-flow: row;
    width: 100%;
    background-color: #373e57;
    flex-grow: 1;
}

.fot1{
    flex-grow: 1;
    list-style: none;
    width: 100%;
}
.fot1 li{
    list-style: none;
}
.fot1 a{
    text-decoration: none;
    color: black;

}
.fot1 a:hover{
    color: white;
}

.dos{
    background-color: #2d3142;
    display:flex;
    flex-flow: row;
    width: 100%;
    flex-grow: 1;
}

.dos a img{
    width: 15%;
    margin-top: 15px;
    margin-bottom: -10px;
    margin-left: 122%;
}

.boton-personalizado-2 {
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:150px;
    padding-right:150px;
    background-color:#FFD27D;
}
/* Este es el estilo al poner el cursor encima del boton*/
.boton-personalizado-2:hover {
    background-color:darkorange;
}

#botocompra {
    margin-top: -9em;
    float: right;
    margin-right: 3%;
}

#partecesta {
    width: 100%;
    height: 100%;
    text-align: center;
    /*border: black 1px solid;*/
}

#partecesta img {
    width: auto;
    max-width: 100%;
    margin: auto;
    height: auto;
    max-height: 100%;
}