*{
    font-family: Arial, serif;
}

body{
    display: flex;
    flex-flow: column;
    background-color: #C5C5C5;
    margin: 0;
}

header{
    background-color: #6aaae8;
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 0;
}

nav{
    width: 100%;
    height: 70px;
    padding: 0;
    margin-top: -20px;
    margin-bottom: -5px;
}

article{
    width: 80%;
    flex-grow: 3;
    height: 1000px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column;
    background: #b9b9b9;
}

footer{
    background-color: #616161;
    width: 100%;
    height: 300px;
    display:flex;
    flex-flow: column;
}

.texto{
    display: flex;
    flex-flow: row;
    width: 100%;
    padding: 0;
    margin: 5px;
}

.logo{
    width: 220px;
}

.derecha{
    flex-grow: 3;
    width: 30%;
    align-items: center;
    margin: 20px;
}


.izquierda{
    margin-left: 20px;
    flex-grow: 1;
    width: 50%;
    display: flex;
}

.carro {
    flex-grow: 1;
    display: flex;
    width: 8%;
}

.carrito{
    background-image: url("imagenes/carrito.png");
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-top: 60%;
    margin-left: 150%;
}

.carro a{
    cursor: none;
}

.carrito:hover{
    background-color: #9b9b9b;
    transition: 1s;
    cursor: pointer;
}

.login{
    flex-grow: 1;
    display: flex;
    width: 8%;
    text-align: center;
}

.redondo{
    background-image: url("imagenes/login.png");
    background-position: center;
    background-position-y: 4px;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-top: 35%;
    margin-left: 50%;
}

.redondo:hover{
    background-color: #9b9b9b;
    transition: 1s;
    cursor: pointer;
}

.login a{
    cursor: none;
}

.izquierda img{
    width: 15%;
    margin: 25px;
}

.log{
    flex-grow: 1;
    padding-top: 20px;
}

.submit{
    width: 100px;
    height: 50px;
    font-size: 25px;
    align-self: center;
    background-color: #C5C5C5;
    border-color: #C5C5C5;
    color: #757575;
}

.submit:hover{
    background-color: #848484;
    border-color: #848484;
    color: black;
}

.imagenes{
    flex-grow: 3;
    font-size: 25px;
    align-items: center;
    text-align: center;
}


.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #3e77ff;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #000000;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 3px solid #3e77ff;
    background-image: url("imagenes/lupa.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.wrap{
    width: 40%;
    position: absolute;
    margin-top: 50px;
    margin-left: 250px;
    transform: translate(-50%, -50%);
}

.lupa{
    width: 100px;
}
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

nav{
    font-weight: bold;
}

.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: #8ab6e7;
}
.menu-horizontal > li > a{
    display: block;
    padding: 15px 20px;
    color: #4b4b4b;
    text-decoration: none;
    transition: 1s;
}
.menu-horizontal > li:hover{
    background-color: #6aaae8;
    transition: 1s;
}

.menu-horizontal > li > a:hover{
    color: black;
    transition: 1s;
}

.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: #8ab6e7;
    transition: 1s;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
    transition: 1s;
}
.menu-vertical li:hover{
    background-color: #4898ea;
    transition: 1s;
}

.menu-vertical li a{
    display: block;
    color: #4b4b4b;
    text-decoration: none;
    padding: 15px 0 15px 20px;
    transition: 1s;
}

.menu-vertical{
    padding: 0;
}

.menu-vertical > li > a:hover{
    color: black;
    transition: 1s;
}
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/


article{
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
}

.texto{
    margin: 0;
    padding: 0;
}

.primero{
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: column;
}

    .primero p{
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 50px;
    }

    .primero h1{
        align-self: center;
        text-align: center;
        font-size: 30px;
        margin-bottom: 10px;
    }

.segundo{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column;
}

.segundo div{
    border-radius: 10px;
}
    .lin1{
        display: flex;
        flex-flow: row;
        flex-grow: 1;
    }

    .lin1 div:hover{
        background-color: #949494;
        transition: 1s;
    }

        .pedido{
            background-color: #e3e3e3;
            flex-grow: 1;
            margin: 20px;
            display: flex;
            flex-flow: row;
            width: 33%;
        }

            .img1{
                flex-grow: 2;
                margin: 50px 20px 50px;
                background-image: url("imagenes/fot1.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }


            .txt1{
                flex-grow: 2;
                width: 35%;
                margin-top: 50px;
                margin-bottom: 50px;
                align-self: center;
            }

                .txt1 p{
                    margin: 0;
                    padding: 0;
                    width: content-box;
                    height: min-content;
                    font-size: 20px;
                }

        .pagos{
            background-color: #e3e3e3;
            flex-grow: 1;
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-flow: row;
            width: 33%;
        }
            .img2{
                flex-grow: 2;
                margin: 50px 20px 50px;
                background-image: url("imagenes/fot2.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }


            .txt2{
                flex-grow: 2;
                width: 35%;
                margin-top: 50px;
                margin-bottom: 50px;
                align-self: center;
            }

                .txt2 p{
                    margin: 0;
                    padding: 0;
                    width: content-box;
                    height: min-content;
                    font-size: 20px;
                }

        .datos{
            background-color: #e3e3e3;
            flex-grow: 1;
            margin: 20px;
            display: flex;
            flex-flow: row;
            width: 33%;
        }
            .img3{
                flex-grow: 2;
                margin: 50px 20px 50px;
                background-image: url("imagenes/fot3.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }


            .txt3{
                flex-grow: 2;
                width: 35%;
                margin-top: 50px;
                margin-bottom: 50px;
                align-self: center;
            }

                .txt3 p{
                    margin: 0;
                    padding: 0;
                    width: content-box;
                    height: min-content;
                    font-size: 20px;
                }

    .lin2{
        display: flex;
        flex-flow: row;
        flex-grow: 1;
    }

    .lin2 div:hover{
        background-color: #949494;
        transition: 1s;
    }

        .prime{
            background-color: #e3e3e3;
            flex-grow: 1;
            margin: 20px;
            display: flex;
            flex-flow: row;
            width: 33%;
        }

            .img4{
                flex-grow: 2;
                margin: 50px 20px 50px;
                background-image: url("imagenes/fot4.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }


            .txt4{
                flex-grow: 2;
                width: 35%;
                margin-top: 50px;
                margin-bottom: 50px;
                align-self: center;
            }

                .txt4 p{
                    margin: 0;
                    padding: 0;
                    width: content-box;
                    height: min-content;
                    font-size: 20px;
                }

        .denuncia{
            background-color: #e3e3e3;
            flex-grow: 1;
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-flow: row;
            width: 33%;
        }

            .img5{
                flex-grow: 2;
                margin: 50px 20px 50px;
                background-image: url("imagenes/fot5.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }


            .txt5{
                flex-grow: 2;
                width: 35%;
                margin-top: 50px;
                margin-bottom: 50px;
                align-self: center;
            }

                .txt5 p{
                    margin: 0;
                    padding: 0;
                    width: content-box;
                    height: min-content;
                    font-size: 20px;
                }

        .consulta{
            background-color: #e3e3e3;
            flex-grow: 1;
            margin: 20px;
            display: flex;
            flex-flow: row;
            width: 33%;
        }

            .img6{
                flex-grow: 2;
                margin: 50px 20px 50px;
                background-image: url("imagenes/fot6.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }


            .txt6{
                flex-grow: 2;
                width: 35%;
                margin-top: 50px;
                margin-bottom: 50px;
                align-self: center;
            }

                .txt6 p{
                    margin: 0;
                    padding: 0;
                    width: content-box;
                    height: min-content;
                    font-size: 20px;
                }

    .lin3{
        display: flex;
        flex-flow: row;
        flex-grow: 1;
    }

    .lin3 div:hover{
        background-color: #949494;
        transition: 1s;
    }

        .video{
            background-color: #e3e3e3;
            flex-grow: 1;
            margin: 20px;
            display: flex;
            flex-flow: row;
            width: 33%;
        }

            .img7{
                flex-grow: 2;
                margin: 50px 20px 50px;
                background-image: url("imagenes/fot7.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }


            .txt7{
                flex-grow: 2;
                width: 35%;
                margin-top: 50px;
                margin-bottom: 50px;
                align-self: center;
            }

                .txt7 p{
                    margin: 0;
                    padding: 0;
                    width: content-box;
                    height: min-content;
                    font-size: 20px;
                }

        .alexa{
            background-color: #e3e3e3;
            flex-grow: 1;
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            flex-flow: row;
            width: 33%;
        }

            .img8{
                flex-grow: 2;
                margin: 50px 20px 50px;
                background-image: url("imagenes/fot8.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }


            .txt8{
                flex-grow: 2;
                width: 35%;
                margin-top: 50px;
                margin-bottom: 50px;
                align-self: center;
            }

                .txt8 p{
                    margin: 0;
                    padding: 0;
                    width: content-box;
                    height: min-content;
                    font-size: 20px;
                }

        .otros{
            background-color: #e3e3e3;
            flex-grow: 1;
            margin: 20px;
            display: flex;
            flex-flow: row;
            width: 33%;
        }

            .img9{
                flex-grow: 2;
                margin: 50px 20px 50px;
                background-image: url("imagenes/fot9.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }


            .txt9{
                flex-grow: 2;
                width: 35%;
                margin-top: 50px;
                margin-bottom: 50px;
                align-self: center;
            }

                .txt9 p{
                    margin: 0;
                    padding: 0;
                    width: content-box;
                    height: min-content;
                    font-size: 20px;
                }

/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/


.uno{
    display:flex;
    flex-flow: row;
    width: 100%;
    background-color: #373e57;
    flex-grow: 1;
}

.fot1{
    flex-grow: 1;
    list-style: none;
    width: 100%;
}
.fot1 li{
    list-style: none;
}
.fot1 a{
    text-decoration: none;
    color: black;

}
.fot1 a:hover{
    color: white;
}

.dos{
    background-color: #2d3142;
    display:flex;
    flex-flow: row;
    width: 100%;
    flex-grow: 1;
}

.dos a img{
    width: 15%;
    margin-top: 15px;
    margin-bottom: -10px;
    margin-left: 122%;
}

.deshabilitado a{
    color: rgba(14, 14, 14, 0.81);
}

.deshabilitado a:hover{
    color: rgba(35, 35, 35, 0.81);
}