<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="pagina-web.component.css">
  <title>Amazon</title>
  <link rel="shortcut icon" href="../../assets/minilogo.jpg">
</head>
<body>

<app-buscador></app-buscador>
<app-menu></app-menu>

<div class="texto">
  <article>
    <section class="slider">
      <ul>
        <li>
          <img alt="fot1" src="../../assets/foto1.png">
        </li>
        <li>
          <img alt="fot2" src="../../assets/foto2.png">
        </li>
        <li>
          <img alt="fot3" src="../../assets/foto3.png">
        </li>
        <li>
          <img alt="fot4" src="../../assets/foto4.png">
        </li>
      </ul>
    </section>
    <div class="art1">
      <div class="one">
        <div class="arriba1">

        </div>
        <div class="abajo1">
          <h1>Seguir Comprando</h1>
        </div>
      </div>
      <div class="two">
        <div class="arriba2">

        </div>
        <div class="abajo2">
          <h1>Ofertas Especiales</h1>
        </div>
      </div>
      <div class="tree">
        <div class="arriba3">

        </div>
        <div class="abajo3">
          <h1>Articulos que te Interesan</h1>
        </div>
      </div>
    </div>
    <div class="art2">
      <div class="one1">
        <div class="arriba4">

        </div>
        <div class="abajo4">
          <h1>Ofertas Especiales de Amazon</h1>
        </div>
      </div>
      <div class="two1">
        <div class="arriba5">

        </div>
        <div class="abajo5">
          <h1>Tenemos una Sorpresa</h1>
        </div>
      </div>
    </div>

    <div class="art3">
      <div class="empresa">
        <div class="arriba6">
          <h1>Acerca de Amazon - Descubre nuestra empresa y nuestra tecnología</h1>
        </div>
        <div class="abajo6">
          <h3>La tienda más centrada en el cliente del mundo</h3>
          <p>Amazon es una de las 500 mayores empresas de EE.UU. La compañía, con sede en Seattle (Washington) es un líder global en el comercio electrónico. Desde que Jeff Bezos lanzó Amazon.com en 1995, se ha hecho un progreso significativo en la oferta, en los sitios web y en la red internacional de distribución y servicio al cliente. En la actualidad, Amazon ofrece gran variedad de productos, desde libros o productos electrónicos, hasta raquetas de tenis o diamantes. Tenemos una presencia directa en Estados Unidos, Reino Unido, Alemania, Francia, Italia, España, Japón, Canadá y China, pero además podemos servir a los clientes en la mayoría de los países del mundo.</p>
          <h3>Innovación tecnológica</h3>
          <p>La innovación tecnológica es la base para la expansión de Amazon y permite a los clientes tener más y más categorías de productos, adaptados a sus necesidades y a un precio más bajo. Ofrecemos experiencia de compra personalizada: por ejemplo, nuestros clientes pueden comprar rápidamente, con el "Pedido 1-Clic" y utilizar diversas herramientas, tales como consejos para descubrir nuevos productos.</p>
          <h3>La plataforma de Amazon</h3>
          <p>En 2000, Amazon comenzó a ofrecer su plataforma de comercio a otros minoristas y proveedores. Hoy en día, muchas empresas están trabajando con Amazon Services para desarrollar su oferta de comercio electrónico, de servicios técnicos y de servicio al cliente y la gestión y el envío de los pedidos. Las principales marcas también utilizan Amazon como canal de ventas, ofreciendo sus productos directamente a los sitios de Amazon. Por último, los desarrolladores externos de software utilizan Amazon Web Services para crear aplicaciones y servicios que se proporcionan a los clientes y vendedores de Amazon.</p>
          <h3>Y esto no ha hecho más que empezar</h3>
          <p>La evolución de la página web de Amazon está determinada por nuestro deseo de innovar constantemente, que siempre ha formado parte del ADN de nuestra compañía. El comercio electrónico se encuentra todavía en una etapa temprana. En los próximos años, se verá cómo Amazon crea nuevas tecnologías, se expande a más regiones geográficas y continua mejorando la vida de los consumidores y vendedores de todo el mundo.</p>
        </div>
      </div>
    </div>
  </article>
</div>
<footer>
  <div class="uno">
    <div class="fot1">
      <ul>
        <li><b>Conócenos</b></li>
        <li class="deshabilitado"><a href="">Trabaja en Amazon</a></li>
        <li class="deshabilitado"><a href="">Sobre Amazon.es</a></li>
        <li class="deshabilitado"><a href="">Sostenibilidad</a></li>
        <li class="deshabilitado"><a href="">Amazon Science</a></li>
      </ul>
    </div>
    <div class="fot1">
      <ul>
        <li><b>Gana dinero con nosotros</b></li>
        <li class="deshabilitado"><a href="">Vender en Amazon</a></li>
        <li class="deshabilitado"><a href="">Vender en Amazon Business</a></li>
        <li class="deshabilitado"><a href="">Vender en Amazon Handmade</a></li>
        <li class="deshabilitado"><a href="">Vender en Amazon Launchpad</a></li>
        <li class="deshabilitado"><a href="">Programa de afiliados</a></li>
        <li class="deshabilitado"><a href="">Logística de Amazon</a></li>
        <li class="deshabilitado"><a href="">Promociona tus productos</a></li>
        <li class="deshabilitado"><a href="">Publica tu libro</a></li>
        <li class="deshabilitado"><a href="">Amazon Pay</a></li>
      </ul>
    </div>
    <div class="fot1">
      <ul>
        <li><b>Métodos de pago Amazon</b></li>
        <li class="deshabilitado"><a href="">Métodos de pago</a></li>
        <li class="deshabilitado"><a href="">Conversor de divisas</a></li>
        <li class="deshabilitado"><a href="">Cheques Regalo</a></li>
        <li class="deshabilitado"><a href="">Recarga online</a></li>
        <li class="deshabilitado"><a href="">Recarga en tienda</a></li>
      </ul>
    </div>
    <div class="fot1">
      <ul>
        <li><b>¿Necesitas ayuda?</b></li>
        <li class="habilitado"><a routerLink="/condiciones">Condiciones</a></li>
        <li class="habilitado"><a routerLink="/contacto">Contacto</a></li>
        <li class="deshabilitado"><a href="">Amazon y COVID-19</a></li>
        <li class="deshabilitado"><a href="">Localizar o gestionar</a></li>
        <li class="deshabilitado"><a href="">Tarifas y políticas de envío</a></li>
        <li class="deshabilitado"><a href="">Amazon Prime</a></li>
        <li class="deshabilitado"><a href="">Devolver o reemplazar productos</a></li>
        <li class="deshabilitado"><a href="">Reciclaje</a></li>
        <li class="deshabilitado"><a href="">App Amazon</a></li>
        <li class="deshabilitado"><a href="">Amazon Assistant</a></li>
      </ul>
    </div>
  </div>
  <div class="dos">
    <a routerLink="/"><img src="../../assets/logo.png" alt="logo"></a>

  </div>
</footer>
</body>
</html>
