*{
  font-family: Arial, serif;
}

body{
  display: flex;
  flex-flow: column;
  background-color: #C5C5C5;
  margin: 0;
}

header{
  background-color: #6aaae8;
  width: 100%;
  height: 100px;
  display: flex;
  margin-bottom: 0;
}

nav{
  width: 100%;
  height: 70px;
  padding: 0;
  margin-top: -20px;
  margin-bottom: -5px;
}

article{
  width: 80%;
  flex-grow: 3;
  height: 2250px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  background: linear-gradient(#6aaae8,#ffffff);
  font-size: 50px;
}

footer{
  background-color: #616161;
  width: 100%;
  height: 300px;
  display:flex;
  flex-flow: column;
}

.texto{
  display: flex;
  flex-flow: row;
  width: 100%;
  padding: 0;
  margin: 5px;
}

.logo{
  width: 220px;
}

.log{
  flex-grow: 1;
  padding-top: 20px;
}

.submit{
  width: 100px;
  height: 50px;
  font-size: 25px;
  align-self: center;
  background-color: #C5C5C5;
  border-color: #C5C5C5;
  color: #757575;
}

.submit:hover{
  background-color: #848484;
  border-color: #848484;
  color: black;
}

.imagenes{
  flex-grow: 3;
  font-size: 25px;
  align-items: center;
  text-align: center;
}

.lupa{
  width: 100px;
}

article{
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;

}

.texto{
  margin: 0;
  padding: 0;

}

/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

.slider{
  overflow: hidden;
  width: 100%;
  height: 40%;
  padding: 0;
  margin: 0;
}

.slider ul{
  display: flex;
  animation: cambio 30s infinite linear;
  width: 400%;
  margin: 0;
  padding: 10px;
  border-radius: 20px;
}
.slider li{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px;
  border-radius: 20px;
}

.slider img{
  width: 100%;
  height: 80%;
  margin: 0;
  border-radius: 20px;
}

@keyframes cambio{
  0%{margin-left: -0.6%;}
  20%{margin-left: -0.6%;}

  25%{margin-left: -100.6%;}
  45%{margin-left: -100.6%;}

  50%{margin-left: -200.7%;}
  70%{margin-left: -200.7%;}

  75%{margin-left: -300.7%;}
  100%{margin-left: -300.7%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
    height: 100vh;
  }
}


/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

.art1{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 27%;
}

.one{
  flex-grow: 2;
  background-color: #6aaae8;
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.arriba1{
  flex-grow: 8;
  width: 100%;
  height: 50px;
  background-image: url("http://localhost:4080/images/css/collage1");
  background-repeat: no-repeat;
  background-size: cover;
}

.abajo1{
  flex-grow: 1;
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  background-color: #4499ff;
}


.two{
  flex-grow: 3;
  background-color: #8ab6e7;
  display: flex;
  flex-flow: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.arriba2{
  flex-grow: 8;
  width: 100%;
  height: 50px;
  background-image: url("http://localhost:4080/images/css/collage2");
  background-repeat: no-repeat;
  background-size: cover;
}

.abajo2{
  flex-grow: 1;
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  background-color: #4499ff;

}

.tree{
  flex-grow: 2;
  background-color: #6aaae8;
  display: flex;
  flex-flow: column;
  margin: 10px;

}

.arriba3{
  flex-grow: 8;
  width: 100%;
  height: 50px;
  background-image: url("http://localhost:4080/images/css/collage3");
  background-repeat: no-repeat;
  background-size: cover;

}

.abajo3{
  flex-grow: 1;
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  background-color: #4499ff;

}


.art2{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30%;
}

.one1{
  flex-grow: 6;
  background-color: #797979;
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.arriba4{
  flex-grow: 8;
  width: 100%;
  height: 50px;
  background-image: url("http://localhost:4080/images/css/primevideo");
  background-size: cover;
  background-position-y: -100px;
  background-repeat: no-repeat;
}

.abajo4{
  flex-grow: 1;
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  background-color: #4499ff;
}


.two1{
  flex-grow: 3;
  background-color: #9DBFAF;
  display: flex;
  flex-flow: column;
  margin: 10px;
  margin-left: 0;
}

.arriba5{
  flex-grow: 8;
  width: 100%;
  height: 50px;
  background-image: url("http://localhost:4080/images/css/sorpresa");
  background-size: cover;
  background-repeat: no-repeat;
}

.abajo5{
  flex-grow: 1;
  width: 100%;
  height: 50px;
  text-align: center;
  align-items: center;
  background-color: #4499ff;
}


.art3{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 30%;
}

.empresa {
  flex-grow: 1;
  background-color: #797979;
  display: flex;
  flex-flow: column;
  margin: 10px;
}

.arriba6{
  flex-grow: 1;
  width: 100%;
  height: 20%;
  justify-content: center;
  text-align: center;
  background-color: #4499ff;

}

.abajo6{
  flex-grow: 1;
  width: 100%;
  height: 80%;
  text-align: justify;
  font-size: 14px;
  background-color: #8ab6e7;

}

.abajo6 p{
  margin-left: 20px;
  margin-right: 20px;
}

.abajo6 h3{
  margin-left: 20px;
  margin-right: 20px;
}

