<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="perifericos.component.css">
  <title>Amazon</title>
  <link rel="shortcut icon" href="../../assets/minilogo.jpg">
</head>
<body>

<app-buscador></app-buscador>

<nav>
  <ul class="menu-horizontal">
    <li>
      <a href="#">Productos</a>
      <ul class="menu-vertical">
        <li><a routerLink="/moviles">Mobiles</a></li>
        <li><a routerLink="/ordenadores">Ordenadores</a></li>
        <li><a routerLink="/perifericos">Perifericos</a></li>
      </ul>
    </li>
    <li><a href="#">Belleza</a></li>
    <li><a href="#">Deportes</a></li>
    <li><a href="#">Decoración</a></li>

  </ul>
</nav>
<div class="texto">
  <aside>
    <h3>Envio</h3>
    <label><input (click)="envioGratis()" type="radio" name="envio" value="envio_gratis"> Envio gratis</label><br>
    <label><input (click)="recibeloManana()" type="radio" name="envio" value="envio_1dia"> Recíbelo mañana</label><br>
    <h3>Categoria</h3>
    <label><input (click)="monitors()" type="radio" name="marca" value="monitors"> Monitores</label><br>
    <label><input (click)="teclados()" type="radio" name="marca" value="teclats"> Teclados</label><br>
    <label><input (click)="ratones()" type="radio" name="marca" value="ratolins"> Ratones</label><br>
  </aside>
  <article>
    <div id="resultat">
      <h2>RESULTADOS</h2>
    </div>
    <div>
      <div class="producto" *ngIf="productes[0].activat">
        <div class="imgproducto">
          <img src="../../assets/newskill.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[0].titol}}</h2><br>
          <p> {{productes[0].envio}}</p>
          <h3>{{productes[0].preu}}</h3>
        </div>
      </div>
      <div class="producto" *ngIf="productes[1].activat">
        <div class="imgproducto">
          <img src="../../assets/k120.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[1].titol}}</h2><br>
          <p> {{productes[1].envio}}</p>
          <h3>{{productes[1].preu}}</h3>
        </div>
      </div>
      <div class="producto" *ngIf="productes[2].activat">
        <div class="imgproducto">
          <img src="../../assets/forgeon.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[2].titol}}</h2><br>
          <p> {{productes[2].envio}}</p>
          <h3>{{productes[2].preu}}</h3>
        </div>
      </div>
      <div class="producto" *ngIf="productes[3].activat">
        <div class="imgproducto">
          <img src="../../assets/razer.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[3].titol}}</h2><br>
          <p> {{productes[3].envio}}</p>
          <h3>{{productes[3].preu}}</h3>
        </div>
      </div>
      <div class="producto" *ngIf="productes[4].activat">
        <div class="imgproducto">
          <img src="../../assets/Asus%20P307.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[4].titol}}</h2><br>
          <p> {{productes[4].envio}}</p>
          <h3>{{productes[4].preu}}</h3>
        </div>
      </div>
    </div>
  </article>
</div>
<footer>
  <div class="uno">
    <div class="fot1">
      <ul>
        <li><b>Conócenos</b></li>
        <li class="deshabilitado"><a href="">Trabaja en Amazon</a></li>
        <li class="deshabilitado"><a href="">Sobre Amazon.es</a></li>
        <li class="deshabilitado"><a href="">Sostenibilidad</a></li>
        <li class="deshabilitado"><a href="">Amazon Science</a></li>
      </ul>
    </div>
    <div class="fot1">
      <ul>
        <li><b>Gana dinero con nosotros</b></li>
        <li class="deshabilitado"><a href="">Vender en Amazon</a></li>
        <li class="deshabilitado"><a href="">Vender en Amazon Business</a></li>
        <li class="deshabilitado"><a href="">Vender en Amazon Handmade</a></li>
        <li class="deshabilitado"><a href="">Vender en Amazon Launchpad</a></li>
        <li class="deshabilitado"><a href="">Programa de afiliados</a></li>
        <li class="deshabilitado"><a href="">Logística de Amazon</a></li>
        <li class="deshabilitado"><a href="">Promociona tus productos</a></li>
        <li class="deshabilitado"><a href="">Publica tu libro</a></li>
        <li class="deshabilitado"><a href="">Amazon Pay</a></li>
      </ul>
    </div>
    <div class="fot1">
      <ul>
        <li><b>Métodos de pago Amazon</b></li>
        <li class="deshabilitado"><a href="">Métodos de pago</a></li>
        <li class="deshabilitado"><a href="">Conversor de divisas</a></li>
        <li class="deshabilitado"><a href="">Cheques Regalo</a></li>
        <li class="deshabilitado"><a href="">Recarga online</a></li>
        <li class="deshabilitado"><a href="">Recarga en tienda</a></li>
      </ul>
    </div>
    <div class="fot1">
      <ul>
        <li><b>¿Necesitas ayuda?</b></li>
        <li class="habilitado"><a routerLink="/condiciones">Condiciones</a></li>
        <li class="habilitado"><a routerLink="/contacto">Contacto</a></li>
        <li class="deshabilitado"><a href="">Amazon y COVID-19</a></li>
        <li class="deshabilitado"><a href="">Localizar o gestionar</a></li>
        <li class="deshabilitado"><a href="">Tarifas y políticas de envío</a></li>
        <li class="deshabilitado"><a href="">Amazon Prime</a></li>
        <li class="deshabilitado"><a href="">Devolver o reemplazar productos</a></li>
        <li class="deshabilitado"><a href="">Reciclaje</a></li>
        <li class="deshabilitado"><a href="">App Amazon</a></li>
        <li class="deshabilitado"><a href="">Amazon Assistant</a></li>
      </ul>
    </div>
  </div>
  <div class="dos">
    <a routerLink="/pagina-web"><img src="../../assets/logo.png" alt="logo"></a>

  </div>
</footer>
</body>
</html>
