<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="formulario2.component.css">
  <title>Formulario</title>
  <link rel="shortcut icon" href="imagenes/minilogo.jpg">
</head>
<body>
<header>
  <div class="derecha">
    <a href="PaginaPrincipal.html"><img src="imagenes/logo.png" class="logo" alt="minilogo"></a>
  </div>
</header>
<div class="texto">
  <article>
    <div class="centrar">
      <div class="signin">
        <form class="form">
          <h2>Registrate</h2>
          <p class="cuenta">Ya tienes cuenta?</p>
          <p type="Nombre:"><input placeholder="Nombre"></p>
          <p type="Apellidos:"><input placeholder="Apellidos"></p>
          <p type="Email:"><input placeholder="Email"></p>
          <p type="Contraseña:"><input type="password" placeholder="Contraseña"></p>
          <button>Registrarse</button>
          <div class="compañia">
            <span class="fa fa-phone"></span>633 47 13 95
            <span class="fa fa-envelope-o"></span> amazon@gmail.com
          </div>
        </form>
      </div>
      <div class="signup">
        <h1>Ya tengo cuenta</h1>
        <p>Si ya tienes cuenta</p>
        <p>Entra abajo para introducir tus credenciales i</p>
        <p>iniciar sesion con tu cuenta</p>
        <a href="formulario.html">LogIn</a>

      </div>
    </div>
  </article>
</div>
</body>
</html>
