<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="formulario2.component.css">
  <title>Formulario</title>
  <link rel="shortcut icon" href="../../assets/minilogo.jpg">
</head>
<body>
<header>
  <div class="derecha">
    <a routerLink="/pagina-web"><img src="../../assets/logo.png" class="logo" alt="minilogo"></a>
  </div>
</header>
<div class="texto">
  <article>
    <div class="centrar">
      <div class="signin">
        <form class="form"  >
          <h2>Registrate</h2>
          <p class="cuenta">Ya tienes cuenta?</p>
          <p type="Usuario:"><input placeholder="Usuario" [(ngModel)]="usuari" [ngModelOptions]="{standalone:true}"></p>
          <p type="Email:"><input placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone:true}"></p>
          <p type="Contraseña:"><input type="password" placeholder="Contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone:true}"></p>
          <button type="submit"> <a (click)="formularioEnviado()" routerLink="/formulario" id="registre">Registrarse</a></button>
          <div class="compañia">
            <span class="fa fa-phone"></span>633 47 13 95
            <span class="fa fa-envelope-o"></span> amazon@gmail.com
          </div>
        </form>
      </div>
      <div class="signup">
        <h1>Ya tengo cuenta</h1>
        <p>Si ya tienes cuenta</p>
        <p>Entra abajo para introducir tus credenciales i</p>
        <p>iniciar sesion con tu cuenta</p>
        <a routerLink="/formulario">LogIn</a>
      </div>
    </div>
  </article>
</div>
</body>
</html>
