<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="moviles.component.css">
  <link rel="shortcut icon" href="../../assets/minilogo.jpg">
  <title>Amazon</title>
</head>
<body>

<app-buscador></app-buscador>


<app-menu></app-menu>

<div class="texto">
  <aside>
    <h3>Envio</h3>
    <label><input (click)="envioGratuit()" type="radio" name="envio" value="envio_gratis"> Envio gratis</label><br>
    <label><input (click)="recibeloMananaa()" type="radio" name="envio" value="envio_1dia"> Recíbelo mañana</label><br>
    <h3>Marca</h3>
    <label><input (click)="apple()" type="radio" name="marca" value="apple"> Apple</label><br>
    <label><input (click)="xiaomi()" type="radio" name="marca" value="xiaomi"> Xiaomi</label><br>
    <label><input (click)="samsung()" type="radio" name="marca" value="samsung"> Samsung</label><br>
    <label><input (click)="realMe()" type="radio" name="marca" value="realme"> Real me</label><br>
    <label><input (click)="oppo()" type="radio" name="marca" value="oppo"> Oppo</label><br>
  </aside>
  <article>
    <div id="resultat">
      <h2>RESULTADOS</h2>
    </div>
    <div>
      <div class="producto1" *ngIf="productes[0].activat1 && productes[0].activat2">
        <div class="imgproducto">
          <img src="../../assets/iPhone%2014%20Pro%20Max.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[0].titol}}</h2><br>
          <p> {{productes[0].envio}}</p>
          <h3>{{productes[0].preu}}</h3>
          <button class="ca" id="p1" ></button>
        </div>
      </div>
      <div class="producto2" *ngIf="productes[1].activat1 && productes[1].activat2">
        <div class="imgproducto">
          <img src="../../assets/iPhone%2013.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[1].titol}}</h2><br>
          <p> {{productes[1].envio}}</p>
          <h3>{{productes[1].preu}}</h3>
          <button class="ca" id="p2" onClick="afegir(this.id)"></button>
        </div>
      </div>
      <div class="producto3" *ngIf="productes[2].activat1 && productes[2].activat2">
        <div class="imgproducto">
          <img src="../../assets/realme.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[2].titol}}</h2><br>
          <p> {{productes[2].envio}}</p>
          <h3>{{productes[2].preu}}</h3>
        </div>
      </div>
      <div class="producto4" *ngIf="productes[3].activat1 && productes[3].activat2">
        <div class="imgproducto">
          <img src="../../assets/oppo.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[3].titol}}</h2><br>
          <p> {{productes[3].envio}}</p>
          <h3>{{productes[3].preu}}</h3>
        </div>
      </div>
      <div class="producto5" *ngIf="productes[4].activat1 && productes[4].activat2">
        <div class="imgproducto">
          <img src="../../assets/Xiaomi.png">
        </div>
        <div class="titolproducto">
          <h2>{{productes[4].titol}}</h2><br>
          <p> {{productes[4].envio}}</p>
          <h3>{{productes[4].preu}}</h3>
        </div>
      </div>
      <div class="producto6" *ngIf="productes[5].activat1 && productes[5].activat2">
        <div class="imgproducto">
          <img src="../../assets/s22%20ultra.png">
        </div>
        <div class="titolproducto" >
          <h2>{{productes[5].titol}}</h2><br>
          <p> {{productes[5].envio}}</p>
          <h3>{{productes[5].preu}}</h3>
        </div>
      </div>

    </div>
  </article>
</div>

<app-peupagina></app-peupagina>

</body>
</html>

