<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="moviles.component.css">
  <link rel="shortcut icon" href="../../assets/minilogo.jpg">
  <title>Amazon</title>
</head>
<body>
<app-buscador></app-buscador>
<app-menu></app-menu>
<div class="texto">
  <aside>
    <h3>Envio</h3>
    <label><input class="a1" type="radio" name="envio" value="envio_gratis"> Envio gratis</label><br>
    <label><input class="a1" type="radio" name="envio" value="envio_1dia"> Recíbelo mañana</label><br>
    <h3>Marca</h3>
    <label><input (click)="apple()" type="radio" name="marca" value="apple"> Apple</label><br>
    <label><input (click)="xiaomi()" type="radio" name="marca" value="xiaomi"> Xiaomi</label><br>
    <label><input (click)="samsung()" type="radio" name="marca" value="samsung"> Samsung</label><br>
    <label><input (click)="realMe()" type="radio" name="marca" value="realme"> Real me</label><br>
    <label><input (click)="oppo()" type="radio" name="marca" value="oppo"> Oppo</label><br>
  </aside>
  <article>
    <div id="resultat">
      <h2>RESULTADOS</h2>
    </div>
    <div>
      <div id="producto1" *ngIf="productes[0].activat1 && productes[0].activat2">
        <div class="imgproducto">
          <img id="img1" src="../../assets/iPhone%2014%20Pro%20Max.png">
        </div>
        <div class="titolproducto">
          <h2 id="nom1">{{productes[0].titol}}</h2><br>
          <p id="envio1">{{productes[0].envio}}</p>
          <h3 id="precio1">{{productes[0].preu}}</h3>
          <button class="ca" id="p1" (click)="toggle($event)"></button>
        </div>
      </div>
      <div id="producto2" *ngIf="productes[1].activat1 && productes[1].activat2">
        <div class="imgproducto">
          <img id="img2" src="../../assets/iPhone%2013.png">
        </div>
        <div class="titolproducto">
          <h2 id="nom2">{{productes[1].titol}}</h2><br>
          <p id="envio2">{{productes[1].envio}}</p>
          <h3 id="precio2">{{productes[1].preu}}</h3>
          <button class="ca" id="p2" (click)="toggle($event)"></button>
        </div>
      </div>
      <div id="producto3" *ngIf="productes[2].activat1 && productes[2].activat2">
        <div class="imgproducto">
          <img id="img3" src="../../assets/realme.png">
        </div>
        <div class="titolproducto">
          <h2 id="nom3">{{productes[2].titol}}</h2><br>
          <p id="envio3"> {{productes[2].envio}}</p>
          <h3 id="precio3">{{productes[2].preu}}</h3>
          <button class="ca" id="p3" (click)="toggle($event)"></button>
        </div>
      </div>
      <div id="producto4" *ngIf="productes[3].activat1 && productes[3].activat2">
        <div class="imgproducto">
          <img id="img4" src="../../assets/oppo.png">
        </div>
        <div class="titolproducto">
          <h2 id="nom4">{{productes[3].titol}}</h2><br>
          <p id="envio4"> {{productes[3].envio}}</p>
          <h3 id="precio4">{{productes[3].preu}}</h3>
          <button class="ca" id="p4" (click)="toggle($event)"></button>
        </div>
      </div>
      <div id="producto5" *ngIf="productes[4].activat1 && productes[4].activat2">
        <div class="imgproducto" >
          <img id="img5" src="../../assets/Xiaomi.png">
        </div>
        <div class="titolproducto">
          <h2 id="nom5">{{productes[4].titol}}</h2><br>
          <p id="envio5">{{productes[4].envio}}</p>
          <h3 id="precio5">{{productes[4].preu}}</h3>
          <button class="ca" id="p5" (click)="toggle($event)"></button>
        </div>
      </div>
      <div id="producto6" *ngIf="productes[5].activat1 && productes[5].activat2">
        <div class="imgproducto">
          <img id="img6" src="../../assets/s22%20ultra.png">
        </div>
        <div class="titolproducto">
          <h2 id="nom6">{{productes[5].titol}}</h2><br>
          <p id="envio6">{{productes[5].envio}}</p>
          <h3 id="precio6">{{productes[5].preu}}</h3>
          <button class="ca" id="p6" (click)="toggle($event)"></button>
        </div>
      </div>

    </div>
  </article>
</div>
<app-peupagina></app-peupagina>
</body>
</html>

