<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="formulario.component.css">
  <title>Formulario</title>
  <link rel="shortcut icon" href="../../assets/minilogo.jpg">
</head>
<body>
<header>
  <div class="derecha">
    <a href="../pagina-web/pagina-web.component.html"><img src="../../assets/logo.png" class="logo" alt="minilogo"></a>
  </div>
</header>
<div class="texto">
  <article>
    <div class="centrar">
      <div class="signup">
        <h1>Crear cuenta</h1>
        <p>No tienes cuenta todavia?</p>
        <p>Entra abajo para introducir tus credenciales i</p>
        <p>crear tu nueva cuenta</p>
        <a href="../formulario2/formulario2.component.html">Crear</a>
      </div>
      <div class="signin">
        <form class="form">
          <h2>LogIn</h2>
          <p class="cuenta">Ya tienes cuenta?</p>
          <p type="Email:"><input placeholder="Email"></p>
          <p type="Contraseña:"><input type="password" placeholder="Contraseña"></p>
          <button>LogIn</button>
          <div class="compañia">
            <span class="fa fa-phone"></span>633 47 13 95
            <span class="fa fa-envelope-o"></span> amazon@gmail.com
          </div>

        </form>
      </div>
    </div>
  </article>
</div>
</body>
</html>
