<!DOCTYPE html>
<html lang="Es" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Aram Mateos & Dani Gelabert">
  <meta name="description" content="">
  <link rel="stylesheet" href="formulario.component.css">
  <title>Formulario</title>
  <link rel="shortcut icon" href="../../assets/minilogo.jpg">
  <script src="https://smtpjs.com/v3/smtp.js"></script>
</head>
<body>
<header>
  <div class="derecha">
    <a routerLink="/pagina-web"><img [src]="productes[0].imatge1" class="logo" alt="minilogo"></a>
  </div>
</header>
<div class="texto">
  <article>
    <div class="centrar">
      <div class="signup">
        <h1>Crear cuenta</h1>
        <p>No tienes cuenta todavia?</p>
        <p>Entra abajo para introducir tus credenciales i</p>
        <p>crear tu nueva cuenta</p>
        <a routerLink="/formulario2">Crear</a>
      </div>
      <div class="signin">
        <form class="form">
          <h2>LogIn</h2>
          <p class="cuenta">Ya tienes cuenta?</p>
          <p type="Correo:"><input placeholder="Correo" [(ngModel)]="correu" [ngModelOptions]="{standalone:true}"></p>
          <p type="Contraseña:"><input type="password" placeholder="Contraseña" [(ngModel)]="nombre" [ngModelOptions]="{standalone:true}"></p>
<!--          <button (click)="valorLogIn()">LogIn</button>-->
          <a routerLink="/restaurar">He olvidado mi contraseña</a>
          <p></p>
          <re-captcha (resolved)="resolved($event)"  [size]="'normal'" [theme]="'light'"></re-captcha>
          <button (click)="formularioEnviado()">LogIn</button>
          <div class="compañia">
            <span class="fa fa-phone"></span>633 47 13 95
            <span class="fa fa-envelope-o"></span> @gmail.com
          </div>
        </form>
      </div>
    </div>
  </article>
</div>
</body>
</html>
